<div class="main">
  <h1 class="header-h1">{{user.name}}</h1>
  <h3 class="header-h3">{{user.designation}}</h3>
  <button *ngIf="isCollapsed" (click)="toggleCollaspse()">Expand</button>
  <button *ngIf="!isCollapsed" (click)="toggleCollaspse()">Collapse</button>
  <div *ngIf="!isCollapsed">
    <p class="address"> {{user.address}}</p>
    <div class="phone" *ngIf="user.phone.length > 0"> 
      <p>Phone:</p>  
      <p *ngFor="let phoneNumber of user.phone">{{phoneNumber}}</p>
    </div>
  </div>
</div>